.page-link {
  position: relative;
  display: inline-flex;
  background-color: #ffffff;
  padding: 10px 15px;
  color: #133FA0;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  cursor: pointer;
}

.page-link:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-link:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page-link:not(:first-child) {
  margin-left: -1px;
}

.page-link:hover,
.page-link:focus {
  color: #133FA0;
}

.page-link:focus {
  z-index: 3;
}

.page-link.active {
  z-index: 2;
  color: #ffffff;
  border-color: #133FA0;
  background-color: #133FA0;
}

.page-link.disabled {
  color: rgb(161, 161, 170);
  pointer-events: none;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}